@(entry: models.Task)(implicit request: RequestHeader)

@import helper._
@user = @{request.session.get("user::username").getOrElse("")}

@views.html.main("完了確認画面", user) {
<h3>完了確認</h3>
<dl>
    <dt>タイトル</dt>
    <dd>@entry.title</dd>
    <dt>説明</dt>
    <dd>@entry.description</dd>
    <dt>登録時刻</dt>
    <dd>@entry.createdAt</dd>
</dl>
<p>以上の内容を完了します</p>
<form action="/tasks/@entry.id/complete" method="POST">
    @CSRF.formField
    <input type="submit" value="完了" class="w3-button w3-green">
</form>
}