@(implicit request: RequestHeader)

@import helper._
@user = @{request.session.get("user::username").getOrElse("")}
@views.html.main("ログイン画面", user) {
<form action="/login" method="POST">
    @CSRF.formField
    <h3>ログイン</h3>
    <dl>
        <dt>ユーザーネーム</dt>
        <dd>
            <input type="text" name="username">
        </dd>
        <dt>パスワード</dt>
        <dd>
            <input type="password" name="password">
        </dd>
    </dl>
    <input type="submit" value="ログイン" class="w3-button w3-green">
</form>
}