@(implicit request: RequestHeader)

@import helper._
@user = @{request.session.get("user::username").getOrElse("")}
@views.html.main("パスワード変更画面", user) {
<form action="/settings/newPassword " method="POST">
    @CSRF.formField
    <dl>
        <dt>前のパスワード</dt>
        <dd>
            <input type="password" name="prev_password">
        </dd>
        <dt>新しいパスワード</dt>
        <dd>
            <input type="password" name="password">
        </dd>
        <dt>新しいパスワード（確認）</dt>
        <dd>
            <input type="password" name="password_check">
        </dd>
    </dl>
    <p>以上の内容でパスワードを変更します</p>
    <input type="submit" value="パスワード変更" class="w3-button w3-green">
</form>
}